[Unit]
Description=YERITH-ERP-PGI-9.0 RUNTIME VERIFICATION DAEMON SERVICE
After=mariadb.service

[Service]
Type=exec
ExecStart=/etc/init.d/yri-db-runtime-verif.sh start
ExecStop=/etc/init.d/yri-db-runtime-verif.sh stop
ExecReload=/etc/init.d/yri-db-runtime-verif.sh force-reload
KillMode=mixed
PrivateTmp=true
Restart=on-abort

[Install]
WantedBy=multi-user.target
